venv/
artifacts/
.env/
.envrc
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.log
*.keras
*.h5
*.pb
*.tflite
scaler.pkl
label_encoder.pkl
anfis_results.png
*.pid
.ipynb_checkpoints/
.DS_Store
.vscode/
logs/
*.zip
*.tar
*.gz
Thumbs.db